[user]
	name = julien
	email = julien@eudine.fr
[core]
	editor = nvim
[pull]
	rebase = false
[safe]
	directory = /home/julien/Desktop/HACC/mnt/FPGA_Genome_Indexing
	directory = /home/julien/Desktop/HACC/mnt/map_1
